@charset "utf-8";

/* default */
body {height:100%;font-family: 'Noto Sans KR', '맑은 고딕', 'malgun gothic', 'AppleGothicNeoSD', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic',  'Droid sans', 'sans-serif';font-size:12px;line-height:1.3;background-color:#fff;-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:none;-moz-osx-font-smoothing:gratranslate3d(0,0,0)yscale;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,p,button,iframe,th,td{margin:0;padding:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;margin:0;padding:0;}
h1,h2,h3,h4,h5,h6,dt{font-weight:normal;}
img,fieldset,iframe,button{border:0 none;}
button{cursor:pointer;background:none}
button:focus{outline:0;}
li{list-style:none;}
button{border:0 none}
table{ border-collapse:collapse;border-spacing:0; }
th, td{border-collapse:collapse;}
legend, caption, hr{display:none;}
select, input, textarea {border:none;margin:0;padding:0;width:100%;}
i, em, u, cite {font-style:normal;}
strong{font-weight:normal;}
img{vertical-align:top;max-width:100%;}
a{color:#4b4c4c;text-decoration:none;outline-offset:-1px;}
video {position:relative;width:100%;height:100%;}

/* common */
html {height:100%;}
body {overflow-x:hidden;height:100%;-webkit-overflow-scrolling:touch;}
#contents {position:relative;min-width:320px;min-height:100%;padding-bottom:80px;box-sizing:border-box;-webkit-box-sizing:border-box;-ms-box-sizing:border-box;}
.bg-gray {background:#f5f5f5;}
.no-scroll {overflow-y:hidden;}


/* header */


/* content */


/* footer */



@media (max-width: 1024px) {
	/*.container {height:100%;}*/
	.btn-round {display:block;width:70px;border:1px solid #999;border-radius:100px;font-size:13px;line-height:30px;text-align:center;box-sizing:border-box;-webkit-box-sizing:border-box;-ms-box-sizing:border-box;}
	.btn-round.on {border-color:#7278e8;color:#7278e8;}
	.btn-type01 {
		position:absolute;bottom:30px;left:0;margin:0 20px;width:calc(100% - 40px);
		background:#999;border-radius:10px;font-size:18px;line-height:60px;color:#fff;text-align:center;
	}
	.btn-type01.on {background:#7278e8;}
	.btn-type01.init {position:relative;bottom:auto;left:auto;width:100%;display:block;margin:0;}
	.btn-type02 {margin:27px -20px 0;font-size:0;}
	.btn-type02 a {display:inline-block;width:50%;font-size:14px;line-height:60px;color:#666;text-align:center;}
	.btn-type02 a:nth-child(1) {border-bottom-left-radius:8px;}
	.btn-type02 a:nth-child(2) {border-bottom-right-radius:8px;}
	.btn-type02 .purple,
	.btn-type02 a.on {background:#7278e8 !important;color:#fff;}
	.btn-type03 {display:inline-block;padding:0 50px;border-radius:30px;background:#7278e8;font-size:18px;line-height:50px;color:#fff;}

	.input-box {margin-top:20px;}
	.input-box li {position:relative;margin-top:20px;}
	.input-box span {display:flex;justify-content:flex-end;padding:15px;box-sizing:border-box;-webkit-box-sizing:border-box;-ms-box-sizing:border-box;box-shadow:0 1px 0 0 rgba(0, 0, 0, 0.1);-webkit-box-shadow:0 1px 0 0 rgba(0, 0, 0, 0.1);-ms-box-shadow:0 1px 0 0 rgba(0, 0, 0, 0.1);}
	.input-box input {flex:1;margin:0;padding:0;border:none;font-size:14px;line-height:20px;}
	.input-box input::placeholder {color:#d0d0d0;}
	.input-box label {margin-right:15px;font-size:14px;line-height:20px;color:#999;}
	.input-box .notice {position:absolute;bottom:-18px;left:0;font-size:12px;line-height:18px;color:#ff6200;}
	.input-box + .input-box {margin-top:60px;}
	.input-box .checkbox {justify-content:flex-start;}
	.input-box .btn-round {position:absolute;bottom:10px;right:15px;}

	.input-box.type02 li {position:relative;display:flex;align-items:center;padding:15px 0;box-shadow:0 1px 0 0 rgba(0, 0, 0, 0.1);-webkit-box-shadow:0 1px 0 0 rgba(0, 0, 0, 0.1);-ms-box-shadow:0 1px 0 0 rgba(0, 0, 0, 0.1);}
	.input-box.type02 li strong {display:inline-block;margin-right:65px;font-size:15px;line-height:15px;color:#999;}
	.input-box.type02 li em {position:absolute;top:0;right:0;font-size:15px;color:#7278e8;line-height:50px;}
	.input-box.type02 li p {font-size:15px;line-height:1.6;color:#000;}
	.input-box.type02 .text-box {display:block;}
	.input-box.type02 .text-box p {margin-top:10px;}
	.input-box.type02 .text-box.long p {height:137px;}
	.input-box.type02 .text-box.short p {height:70px;}

	.checkbox input[type="checkbox"] {position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);border:0}
	.checkbox input[type="checkbox"] + label {position:relative;display:inline-block;margin-bottom:0;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;padding-left:44px;font-size:15px;line-height:34px;color:#666;}
	.checkbox input[type="checkbox"] + label:before {content:'';position:absolute;top:50%;left:0;margin-top:-17px;width:34px;height:34px;background:url('../../images/bg_check-type01.png') no-repeat;background-size:auto 34px;}
	.checkbox input[type="checkbox"]:checked + label:before {background:url('../../images/bg_check-type01-on.png') no-repeat;background-size:auto 34px;}
	.checkbox.type02 input[type="checkbox"] + label:before {background:url('../../images/bg_check-type02.png') no-repeat;background-size:auto 34px;}
	.checkbox.type02 input[type="checkbox"]:checked + label:before {background:url('../../images/bg_check-type02-on.png') no-repeat;background-size:auto 34px;}

	.shadow-box {background:#fff;border-radius:8px;background:#fff;box-shadow:0 10px 25px 0 rgba(0, 0, 0, 0.08);-webkit-box-shadow:0 10px 25px 0 rgba(0, 0, 0, 0.08);-ms-box-shadow:0 10px 25px 0 rgba(0, 0, 0, 0.08);}

	.vital {background:url('../../images/bg_invalid.png') 5px 50% no-repeat;background-size:auto 17px;}
	.vital.r {display:inline-block;padding-right:10px;background-position:right 0 top 5px;}

	.star {font-size:0;}
	.star li {display:inline-block;vertical-align:middle;margin-left:5px;width:35px;height:33px;background:url('../../images/btn_review-star-on.png') no-repeat;background-size:auto 33px;}
	.star li.empty {background:url('../../images/btn_review-star.png') no-repeat;background-size:auto 33px;}
	.star li:first-child {margin-left:0;}
	.star li a {display:block;height:100%;}

	.switch {position:relative;display:inline-block;width:45px;height:25px;}
	.switch input {opacity:0;width:0;height:0;}
	.switch .round-slider {
		position:absolute;cursor:pointer;top:0;left:0;right:0;bottom:0;background:#fff;border:1px solid #d0d0d0;
		transition:.2s;-webkit-transition:.2s;-ms-transition:.2s;border-radius:20px;
	}
	.switch .round-slider:before {
		position:absolute;content:'';height:21px;width:21px;left:1px;bottom:1px;background:#7278e8;border-radius:50%;
		transition:.4s;-webkit-transition:.4s;-ms-transition:.4s;
	}
	.switch input:checked + .round-slider {background:#7278e8;}
	.switch input:checked + .round-slider:before {transform:translateX(20px);-webkit-transform:translateX(20px);-ms-transform:translateX(20px);background:#fff;}

	.action-bar {height:60px;background:#7278e8;}
	.action-bar .back {position:absolute;top:21px;left:20px;}
	.action-bar .back img {height:18px;}
	.action-bar h2 {font-size:18px;line-height:60Px;color:#fff;text-align:center;}
	.action-bar h2 img {height:25px;vertical-align:middle;}
	.action-bar.home-head {height:110px;}

	.tit {display:flex;justify-content:space-between;}
	.tit h3 {font-size:18px;font-weight:bold;line-height:1.5;color:#7278e8;}

	.gnb {position:absolute;bottom:0;left:0;width:100%;height:80px;box-shadow:0 -5px 20px 0 rgba(0, 0, 0, 0.05);-webkit-box-shadow:0 -5px 20px 0 rgba(0, 0, 0, 0.05);-ms-box-shadow:0 -5px 20px 0 rgba(0, 0, 0, 0.05);}
	.gnb ul {overflow:visible;}
	.gnb ul:after {display:block;content:'';clear:both;}
	.gnb li {float:left;padding:20px 0 15px;width:33.33%;background:#fff;text-align:center;}
	.gnb li a {display:block;padding-top:27px;font-size:15px;font-weight:bold;line-height:1.2;letter-spacing:-0.38px;color:#666;}
	.gnb li.on a {color:#7278e8;}
	.gnb li:nth-child(1) a {background:url('../../images/ico_gnb01.png') 50% 0 no-repeat;background-size:auto 20px;}
	.gnb li:nth-child(2) a {background:url('../../images/ico_gnb02.png') 50% 0 no-repeat;background-size:auto 20px;}
	.gnb li:nth-child(3) a {background:url('../../images/ico_gnb03.png') 50% 0 no-repeat;background-size:auto 20px;}
	.gnb li.on:nth-child(1) a {background:url('../../images/ico_gnb01-on.png') 50% 0 no-repeat;background-size:auto 20px;}
	.gnb li.on:nth-child(2) a {background:url('../../images/ico_gnb02-on.png') 50% 0 no-repeat;background-size:auto 20px;}
	.gnb li.on:nth-child(3) a {background:url('../../images/ico_gnb03-on.png') 50% 0 no-repeat;background-size:auto 20px;}

	.splash {background:#717ae1;}
	.splash figure {position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);-webkit-transform:translate(-50%, -50%);-ms-transform:translate(-50%, -50%);}
	.splash img {height:48px;}

	.login {position:absolute;top:190px;width:100%;padding:0 45px;text-align:center;box-sizing:border-box;-webkit-box-sizing:border-box;-ms-box-sizing:border-box;}
	.login h1 img {height:48px;}
	.login .login-input {margin-top:46px;}
	.login .login-input span {
		display:block;margin-top:10px;padding:12px 25px;border:1px solid #d5d5d5;border-radius:30px;
		box-sizing:border-box;-webkit-box-sizing:border-box;-ms-box-sizing:border-box;
	}
	.login .login-input input {border:none;margin:0;padding:0;width:100%;font-size:14px;line-height:20px;color:#999;}
	.login .login-input input::placeholder {color:#999;}

	.login .login-btn a {
		display:block;margin-top:15px;font-size:16px;line-height:50px;color:#7278e8;border:1px solid #d5d5d5;border-radius:30px;
		box-sizing:border-box;-webkit-box-sizing:border-box;-ms-box-sizing:border-box;
	}
	.login .login-btn .default {background:#717ae1;border:none;color:#fff;}
	.login .notice {display:none;position:absolute;top:339px;left:0;width:100%;padding-top:15px;background:url('../../images/ico_warning.png')50% 0 no-repeat;background-size:auto 11px;font-size:14px;line-height:1.43;color:#ff6200;}
	.login .login-guide {margin-top:70px;}
	.login .login-guide p {margin-top:15px;font-size:14px;line-height:1.43;color:#666;}
	.login .login-guide p a {color:#535eea;text-decoration:underline;}
	.login .jump {display:inline-block;margin-top:50px;font-size:14px;font-weight:300;line-height:1.43;color:#a5a5a5;}
	.login.fail .notice {display:block;}

	.join-agree {padding:0 20px 30px;}
	.join-agree > div h3 {margin-top:25px;font-size:15px;line-height:1.47;color:#666;}
	.join-agree .text-box {overflow-y:scroll;height:200px;margin-top:13px;border:1px solid #d5d5d5;border-radius:8px;}
	.join-agree .text-box p {padding:15px;font-size:14px;font-weight:300;line-height:1.43;color:#999;}
	.join-agree .checkbox {display:block;margin-top:20px;}

	.join-input {padding:0 20px 30px;}
	.join-input .input-box li {margin-top:20px;}
	.join-input .notice {display:none;}
	.join-input.fail .notice {display:block;}
	.join-input .overlap {position:relative;}
	.join-input .overlap .confirm-f {display:none;}
	.join-input .overlap .overlap-conf .btn-round {display:none;}
	.join-input .overlap .overlap-conf .confirm-f {display:block;}
	
	.join-confirm {padding:30px 20px 30px;}
	.join-confirm .input-box {position:relative;}
	.join-confirm .user-mail span {display:block;font-size:16px;color:#000;text-align:center;}
	.join-confirm .user-mail p {margin-top:15px;font-size:16px;line-height:1.5;color:#7278e8;text-align:center;}
	.join-confirm .user-mail .btn-round {position:relative;bottom:auto;right:auto;display:block;margin:25px auto 0;}
	.join-confirm .conf-number .btn-round {position:absolute;bottom:10px;right:0;}
	.join-confirm .notice {display:none;}
	.join-confirm.fail .notice {display:block;}

	.conf-number span {padding-right:90px;}

	.find-pw .notice {display:none;}
	.find-pw .btn-resend {display:none;}
	.find-pw .send .btn-resend {display:block;}
	.find-pw .send .btn-send {display:none;}
	.find-pw.fail .notice {display:block;}
	.find-pw .input-box span {padding-right:105px;}

	/* review */
	.review {position:relative;padding:40px 20px 30px;}
	.review h3 {font-size:15px;font-weight:bold;line-height:1.47;color:#666;}
	.review h3 + .grade {margin-top:10px;}
	.review > div {margin-top:40px;}
	.review .btn-type01 {position:relative;display:block;bottom:auto;}
	.review .input-box {margin-top:10px;}
	.review .input-box li:last-child {margin-top:20px;}
	.review.add .input-box li:last-child {margin-top:0;}
	.review .input-box .notice {color:#a5a5a5;}
	.review .input-box + div {margin-top:20px;}
	.review .input-box .notice em {color:#ff6200;}
	.review .input-box .checkbox input[type="checkbox"] + label {padding-left:35px;line-height:25px;color:#999;}
	.review .input-box .checkbox input[type="checkbox"] + label:before {margin-top:-12px;width:25px;height:25px;background:url('../../images/bg_check-type02.png') no-repeat;background-size:auto 25px;}
	.review .input-box .checkbox input[type="checkbox"]:checked + label {color:#7278e8;}
	.review .input-box .checkbox input[type="checkbox"]:checked + label:before {background:url('../../images/bg_check-type02-on.png') no-repeat;background-size:auto 25px;}
	.review textarea {width:100%;height:105px;margin-top:10px;padding:15px;border:none;resize:none;box-sizing:border-box;-webkit-box-sizing:border-box;-ms-box-sizing:border-box;box-shadow:0 1px 0 0 rgba(0, 0, 0, 0.1);-webkit-box-shadow:0 1px 0 0 rgba(0, 0, 0, 0.1);-ms-box-shadow:0 1px 0 0 rgba(0, 0, 0, 0.1);font-size:15px;color:#999;}
	.review .category {overflow:hidden;width:335px;margin:0 auto;}
	.review .category:after {display:block;content:'';clear:both;}
	.review .category li {float:left;margin-top:10px;margin-right:12px;}
	.review .category li:nth-child(3n) {margin-right:0;}
	.review .btn-round {width:100px;}
	.review .grade {margin-top:32px;}
	.review .grade strong {display:block;font-size:15px;line-height:1.47;color:#7278e8;}
	.review .star-wrap {display:flex;justify-content:space-between;align-items:center;}
	.review .star-wrap span {font-size:20px;line-height:1.45;color:#666;}
	.review .star {margin-top:13px;font-size:0;}
	.review .review-self {display:none;margin-top:34px;}
	.review .review-self.self {display:block;}
	.review .review-self > span {display:block;font-size:15px;line-height:50px;color:#a5a5a5;box-shadow:0 1px 0 0 rgba(0, 0, 0, 0.1);-webkit-box-shadow:0 1px 0 0 rgba(0, 0, 0, 0.1);-ms-box-shadow:0 1px 0 0 rgba(0, 0, 0, 0.1);}
	.review .review-self > span em {margin-left:10px;font-size:13px;}
	.review .review-self .star-wrap span {color:#d0d0d0;}
	.review .review-self .star {margin-top:10px;}
	.review .star-add a {display:block;margin-top:30px;border-radius:30px;border:solid 1px #e0e2ff;text-align:center;}
	.review .star-add span {display:inline-block;padding-left:25px;background:url('../../images/ico_plus.png') 0 50% no-repeat;background-size:auto 15px;font-size:15px;line-height:50px;color:#666;}
	.review .star-add p {margin-top:10px;font-size:12px;line-height:1.5;color:#a5a5a5;text-align:center;}
	.review .review-write textarea {height:200px;border-radius:8px;border:solid 1px #e0e2ff;;}
	.review .review-check {margin-top:50px;}
	.review .review-check li {margin-top:25px;}
	.review .review-check label span {display:block;font-size:12px;line-height:1;color:#a5a5a5;}
	.review .review-check p {margin-top:34px;font-size:14px;line-height:1.43;color:#666;}
	.review .btn-type01 {width:100%;margin:30px 0 0 0;}
	.review .dim label {color:#d0d0d0;}
	.review .dim .notice {color:#d0d0d0;}
	.review .dim .notice em {color:#d0d0d0;}
	.review .dim .vital {background:none;}

	.file-upload input[type="file"] {position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);border:0;}
	.file-upload label {
		display:block;width:100px;height:100px;border:1px solid #dcdcdc;border-radius:100%;cursor:pointer;
	    padding-top:58px;margin:0 auto;box-sizing:border-box;-webkit-box-sizing:border-box;-ms-box-sizing:border-box;text-align:center;
		background:url('../../images/ico_upload.png') 50% 25px no-repeat;background-size:auto 27px;font-size:13px;line-height:1.46;letter-spacing:-0.65px;color:#999;
	}

	.home {padding:0 20px 20px;}
	.home.ad-banner {padding-bottom:100px;}
	.home .banner {text-align:center;margin-top:-35px;}
	.home .banner img {height:190px;}
	.home .search {
		position:relative;display:block;margin-top:20px;padding:15px 60px 15px 20px;background:#fff;
		box-sizing:border-box;-webkit-box-sizing:border-box;-ms-box-sizing:border-box;border-radius:8px;
		box-shadow:0 10px 25px 0 rgba(0, 0, 0, 0.08);-webkit-box-shadow:0 10px 25px 0 rgba(0, 0, 0, 0.08);-ms-box-shadow:0 10px 25px 0 rgba(0, 0, 0, 0.08);
	}
	.home .search input {font-size:14px;line-height:20px;color:#999;}
	.home .search a {position:absolute;top:15px;right:20px;}
	.home .search a img {height:19px;}
	.home .tit {margin-top:38px;padding:0 10px;}
	.home .tit a {padding-right:20px;background:url('../../images/btn_arrow-more-right.png') 100% 50% no-repeat;background-size:auto 15px;font-size:18px;font-weight:bold;line-height:1.5;color:#7278e8;}
	.home .tit h3 em {margin-left:20px;font-size:16px;color:#a5a5a5;font-weight:normal;}
	.home .tit span {font-size:14px;line-height:1.5;color:#7278e8;}
	.home .list-category {padding-bottom:30px;border-bottom:solid 1px #d0d0d0;}
	.home .list-category ul {overflow:hidden;width:316px;margin:10px auto 0;}
	.home .list-category ul:after {display:block;content:'';clear:both;}
	.home .list-category li {float:left;margin-top:20px;margin-right:38px;text-align:center;}
	.home .list-category li:nth-child(3n) {margin-right:0;}
	.home .list-category a {display:block;}
	.home .list-category figure {overflow:hidden;width:80px;height:80px;border-radius:100%;}
	.home .list-category strong {display:block;margin-top:10px;font-size:16px;line-height:1.5;color:#666;}
	.home .list-category.only {border:none;}
	.home .list-review {margin-top:20px;}
	.home .list-review > ul > li:first-child {margin-top:10px;}
	.home .list-review > ul > li {margin-top:20px;background:#fff;border-radius:8px;box-shadow:0 10px 25px 0 rgba(0, 0, 0, 0.08);-webkit-box-shadow:0 10px 25px 0 rgba(0, 0, 0, 0.08);-ms-box-shadow:0 10px 25px 0 rgba(0, 0, 0, 0.08);}
	.home .list-review a {display:block;}
	.home .list-review a > strong {display:block;font-size:18px;line-height:60px;color:#7278e8;font-weight:bold;text-align:center;box-shadow:0 1px 0 0 rgba(0, 0, 0, 0.08);-webkit-box-shadow:0 1px 0 0 rgba(0, 0, 0, 0.08);-ms-box-shadow:0 1px 0 0 rgba(0, 0, 0, 0.08);}
	.home .list-review a > strong span {margin-left:10px;font-size:14px;color:#666;font-weight:normal;}
	.home .review-box {padding:15px 20px 15px 15px;}
	.home .review-box .user-star,
	.home .review-box .user-star div {display:flex;justify-content:space-between;align-items:center;}
	.home .review-box .user-star figure {overflow:hidden;width:36px;height:36px;margin-right:10px;border-radius:100%;}
	.home .review-box .user-star span {font-size:14px;line-height:36px;color:#666;}
	.home .review-box .star {margin-left:10px;}
	.home .review-box .star li {margin-left:2px;width:16px;height:15px;background-size:auto 15px;}
	.home .review-box p {overflow:hidden;padding:0 15px 0 45px;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:3;-webkit-box-orient:vertical;font-size:13px;color:#666;}
	.home .review-box > strong {display:block;margin-top:20px;font-size:14px;font-weight:bold;line-height:1.29;color:#7278e8;text-align:center;}
	.home .sponsor {margin:-4px -38px 0;}
	.home .more {display:block;margin:-8px 0 40px;text-align:center;}
	.home .more img {height:9px;}
	.home .list-result li {position:relative;margin-top:25px;}
	.home .list-result a {display:flex;align-items:center;}
	.home .list-result a figure {overflow:hidden;width:45px;height:45px;margin-right:12px;border-radius:100%;}
	.home .list-result a > span {position:absolute;top:0;right:0;font-size:15px;line-height:45px;color:#7278e8;}
	.home .list-result strong {font-size:15px;line-height:45px;color:#666;}
	.home .list-result strong > span {margin-left:10px;}
	.home .list-result strong > em {margin-left:10px;color:#ff0000;}
	.home .ad {position:absolute;left:0;bottom:80px;width:100%;text-align:center;}
	.home .ad img {height:70px;}
	.home .result-none {margin-top:160px;padding-top:67px;background:url('../../images/ico_symbol.png') 50% 0 no-repeat;background-size:auto 47px;text-align:center;font-size:14px;line-height:1.79;color:#666;}

	.home .footer {position:relative;padding:10px 10px 0;border-top:1px solid #d0d0d0;}
	.home .footer a {position:absolute;top:15px;right:10px;height:5px;transition:transform .2s;-webkit-transition:transform .2s;-ms-transition:transform .2s;}
	.home .footer a img {height:5px;}
	.home .footer a.open {transform:rotate(180deg);-webkit-transform:rotate(180deg);-ms-transform:rotate(180deg);}
	.home .footer > strong {font-size:12px;line-height:16px;color:#d0d0d0;}
	.home .footer > strong img {height:16px;}
	.home .footer > strong span {display:inline-block;margin-right:10px;}
	.home .footer > p {margin-top:10px;font-size:12px;line-height:1.25;color:#d0d0d0;}
	.home .footer ul {display:none;margin-top:10px;}
	.home .footer ul li {font-size:12px;line-height:1.33;color:#d0d0d0;}

	.review-detail {padding-bottom:40px;}
	.review-detail .user-share {position:relative;display:flex;align-items:center;margin-top:-35px;padding:20px;}
	.review-detail .user-share figure {overflow:hidden;width:70px;height:70px;margin-right:17px;border-radius:100%;}
	.review-detail .user-share strong {font-size:22px;font-weight:500;line-height:1.5;color:#666;}
	.review-detail .user-share strong span {display:block;margin-top:5px;font-size:14px;line-height:1.43;color:#999;}
	.review-detail .user-share a {position:absolute;top:50%;right:20px;margin-top:-25px;}
	.review-detail .user-share a img {height:50px;}
	.review-detail .chart-box {margin-top:20px;padding-top:15px;}
	.review-detail .chart-box > span {display:block;font-size:14px;line-height:1.43;text-align:center;color:#999;}
	.review-detail .chart-box > strong {display:block;margin-top:9px;font-size:42px;font-weight:300;line-height:1.21;color:#666;text-align:center;}
	.review-detail .chart-box .star {margin-top:3px;text-align:center;}
	.review-detail .chart-box .star li {margin-left:3px;width:26px;height:23px;background-size:auto 23px;}
	.review-detail .chart-box .chart {margin-top:17px;height:207px;text-align:center;}
	.review-detail .more-review {display:none;}
	.review-detail .more-review {border-top:1px solid #f5f5f5;padding:20px 10px 40px;margin:0 20px;}
	.review-detail .more-review li {position:relative;display:flex;align-items:center;margin-top:10px;padding-right:30px;font-size:0;}
	.review-detail .more-review li strong {display:inline-block;vertical-align:middle;width:40px;margin-right:20px;font-size:14px;line-height:1.43;color:#999;}
	.review-detail .more-review li span {display:inline-block;vertical-align:middle;width:calc(100% - 60px);height:10px;background:#7278e8;border-top-right-radius:8px;border-bottom-right-radius:8px;}
	.review-detail .more-review li em {position:absolute;top:0;right:0;font-size:12px;line-height:1.5;color:#7278e8;}

	.review-detail .btn-more {display:block;box-shadow:0 -1px 0 0 rgba(0, 0, 0, 0.08);-webkit-box-shadow:0 -1px 0 0 rgba(0, 0, 0, 0.08);-ms-box-shadow:0 -1px 0 0 rgba(0, 0, 0, 0.08);}
	.review-detail .btn-more span {display:block;font-size:14px;line-height:50px;text-align:center;}
	.review-detail .btn-more span em {display:inline-block;margin-left:10px;}
	.review-detail .btn-more span em img {height:6px;vertical-align:middle;}
	.review-detail .btn-more .close em {transform:rotate(180deg);-webkit-transform:rotate(180deg);-ms-transform:rotate(180deg);}
	.review-detail .btn-more .close {display:none;}
	.review-detail .btn-more.open .close {display:block;}
	.review-detail .btn-more.open .open {display:none;}

	.review-detail .feature {margin-top:20px;padding:20px;}
	.review-detail .feature p {font-size:14px;line-height:1.43;color:#666;}
	.review-detail .feature span {display:block;margin-top:20px;font-size:12px;line-height:1.5;color:#999;text-align:center;}
	.review-detail .tab-review {overflow:hidden;margin-top:20px;}
	.review-detail .tab-review:after {display:block;content:'';clear:both;}
	.review-detail .tab-review li {float:left;width:50%;text-align:center;}
	.review-detail .tab-review li a {display:block;font-size:14px;line-height:50px;letter-spacing:-0.35px;color:#666;}
	.review-detail .tab-review li.on a {color:#fff;background:#7278e8;}
	.review-detail .list-review {margin-top:30px;}
	.review-detail .sponsor {margin:20px 0 0;}
	.btn-flating {position:fixed;bottom:90px;right:20px;}
	.btn-flating img {height:79px;}

	/* profile */
	.shadow-line li {box-shadow:0 1px 1px 0 rgba(232, 232, 232, 0.5);-webkit-box-shadow:0 1px 1px 0 rgba(232, 232, 232, 0.5);-ms-box-shadow:0 1px 1px 0 rgba(232, 232, 232, 0.5);}
	.shadow-line li a {display:block;padding:0 20px 0 37px;font-size:15px;line-height:70px;color:#666;}

	.list-notification li span {color:#7278e8;}
	.list-notification li:first-child {background:#edeeff;}
	.list-notification li a {padding-left:20px;}

	.list-setting {background:#fff;}
	.list-setting li {position:relative;}
	.list-setting a {background:url('../../images/btn_arrow-go.png') right 20px top 50% no-repeat;background-size:auto 15px;}
	.list-setting .switch {position:absolute;top:23px;right:20px;}
	.list-setting .bg-none {background-image:none;}
	.list-setting + .list-setting {margin-top:20px;}

	.licensee ul {margin:0 20px;}
	.licensee ul li {margin-top:20px;}
	.licensee .input-box.type02 li {padding:0;}
	.licensee .input-box.type02 li strong {margin-right:20px;padding-left:10px}
	.licensee .input-box.type02 li p,
	.licensee .input-box.type02 li a {font-size:15px;line-height:50px;color:#999;}
	.licensee .copy {margin-top:20px;font-size:12px;line-height:1.5;text-align:center;color:#d0d0d0;}

	.notice-box {padding:40px;font-size:15px;line-height:1.47;color:#666;}
	.notice-box ol {margin:20px 0;}

	.info-edit {margin:0 20px;}
	.info-edit .input-box + .input-box {margin-top:40px;}
	.info-edit .list-setting {margin-top:70px;}
	.info-edit .list-setting li {box-shadow:0 1px 0 0 rgba(0, 0, 0, 0.1);-webkit-box-shadow:0 1px 0 0 rgba(0, 0, 0, 0.1);-ms-box-shadow:0 1px 0 0 rgba(0, 0, 0, 0.1);}
	.info-edit .list-setting li a {padding:0 10px 0 15px;color:#999;}
	.info-edit .list-setting .text-orange a {color:#ff6200;}
	.info-edit .btn-type01 {position:relative;display:block;margin:40px 0 20px 0;width:100%;bottom:auto;}

	.withdrawal {padding:60px 20px 0;}
	.withdrawal .warning {display:block;padding-top:47px;background:url('../../images/ico_warning-big.png') 50% 0 no-repeat;background-size:auto 37px;font-size:20px;line-height:1.45;text-align:center;color:#ff6200;}
	.withdrawal > p {margin-top:22px;font-size:15px;line-height:1.47;text-align:center;color:#666;}
	.withdrawal > ul {margin-top:33px;}
	.withdrawal > ul > li {padding:0 20px;font-size:15px;line-height:1.47;color:#666;}
	.withdrawal > ol {margin-top:40px;padding:0 20px;}
	.withdrawal > ol > li {margin-top:20px;font-size:15px;line-height:1.47;color:#7278e8;}
	.withdrawal > ol > li span {display:block;margin-top:10px;font-size:12px;font-weight:300;line-height:1.5;color:#a5a5a5;}
	.withdrawal .checkbox {display:block;margin-top:40px;padding:0 20px;}
	.withdrawal .checkbox.type02 input[type="checkbox"] + label {padding-left:40px;}
	.withdrawal .checkbox.type02 input[type="checkbox"] + label:before {background-size:auto 25px;width:25px;height:25px;margin-top:-12px;}
	.withdrawal .btn-type01.init {margin-top:48px;}



	/* popup */
	.popup-wrap {display:none;overflow-y:scroll;position:fixed;top:0;left:0;width:100%;height:100%;-webkit-backdrop-filter:blur(15px);backdrop-filter:blur(15px);z-index:999;background:rgba(0, 0, 0, .1);}
	.popup-wrap.white {background:rgba(255, 255, 255, .3);}
	.popup {
		display:none;z-index:10;position:absolute;top:50%;left:50%;background:#fff;border-radius:8px;padding:20px 20px 0;
		box-shadow:0 10px 25px 0 rgba(0, 0, 0, 0.08);-webkit-box-shadow:0 10px 25px 0 rgba(0, 0, 0, 0.08);-ms-box-shadow:0 10px 25px 0 rgba(0, 0, 0, 0.08);
		transform:translate(-50%, -50%);-webkit-transform:translate(-50%, -50%);-ms-transform:translate(-50%, -50%);
		min-width:335px;box-sizing:border-box;-webkit-box-sizing:border-box;-ms-box-sizing:border-box;
	}

	#pop-review .user-info {text-align:center;}
	#pop-review .user-info figure {overflow:hidden;width:60px;height:60px;border-radius:100%;margin:0 auto;}
	#pop-review .user-info span {display:inline-block;margin-top:5px;color:#666;}
	#pop-review .user-info strong {display:inline-block;vertical-align:middle;font-size:15px;line-height:36px;}
	#pop-review .user-info em {display:inline-block;vertical-align:middle;font-size:24px;margin-left:10px;}
	#pop-review .star {margin-top:10px;}

	#pop-review-nonmember {z-index:10;position:absolute;top:0;left:0;width:100%;height:100%;-webkit-backdrop-filter:blur(8.9px);backdrop-filter:blur(8.9px);}
	#pop-review-nonmember div {position:absolute;top:50%;left:50%;width:100%;transform:translate(-50%, -50%);-webkit-transform:translate(-50%, -50%);-ms-transform:translate(-50%, -50%);text-align:center;}
	#pop-review-nonmember strong img {height:48px;}
	#pop-review-nonmember p {margin-top:60px;font-size:18px;line-height:1.67;color:#7278e8;font-weight:bold;}
	#pop-review-nonmember div a {margin-top:60px;}
	#pop-review-nonmember .back {position:absolute;top:20px;left:20px;}
	#pop-review-nonmember .back img {height:18px}

	#pop-review-detail .user-info {position:relative;display:flex;align-items:center;padding-bottom:15px;border-bottom:1px solid #f5f5f5;}
	#pop-review-detail .user-info figure {overflow:hidden;width:60px;height:60px;margin-right:15px;border-radius:100%;}
	#pop-review-detail .user-info span {font-size:15px;line-height:60px;color:#666;}
	#pop-review-detail .user-info em {position:absolute;top:0;right:0;font-size:15px;line-height:60px;color:#7278e8;}
	#pop-review-detail .review-text {padding:20px 0;font-size:15px;line-height:1.53;color:#666;border-bottom:1px solid #f5f5f5;}
	#pop-review-detail .review-text p {margin-top:20px;}
	#pop-review-detail .mean-star {position:relative;display:flex;align-items:center;padding:20px 0;border-bottom:1px solid #f5f5f5;}
	#pop-review-detail .mean-star span {margin-right:46px;font-size:14px;line-height:23px;line-height:23px;color:#7278e8;}
	#pop-review-detail .mean-star .star li {width:24px;height:23px;margin-left:4px;background-size:auto 23px;}
	#pop-review-detail .mean-star strong {position:absolute;top:0;right:0;font-size:18px;line-height:63px;color:#7278e8;font-weight:bold;}
	#pop-review-detail .view-category {padding:30px 0;font-size:0;border-bottom:1px solid #f5f5f5;}
	#pop-review-detail .view-category li {display:inline-block;width:33.333%;font-size:14px;line-height:1.43;color:#999;}
	#pop-review-detail .view-category li:nth-child(2n) {text-align:center;}
	#pop-review-detail .view-category li:nth-child(3n) {text-align:right;}
	#pop-review-detail .view-category li:nth-child(5n) {text-align:center;}
	#pop-review-detail .view-category li strong {margin-left:15px;color:#666;}
	#pop-review-detail .hold-candy {position:relative;height:147px;padding-top:30px;text-align:center;}
	#pop-review-detail .hold-candy span {font-size:14px;line-height:1.43;color:#666;}
	#pop-review-detail .hold-candy strong {display:block;margin-top:10px;font-size:16px;font-weight:bold;line-height:1.5;color:#7278e8;}
	#pop-review-detail .hold-candy p {margin-top:15px;font-size:14px;line-height:1.43;color:#666;}
	#pop-review-detail .hold-candy .checkbox {display:none;position:absolute;top:100px;left:20px;}
	#pop-review-detail .checkbox input[type="checkbox"] + label {font-size:14px;line-height:1.43;color:#666;text-align:left;}
	#pop-review-detail .checkbox.type02 input[type="checkbox"] + label:before {width:25px;height:25px;margin-top:-12px;background-size:auto 25px;}
	#pop-review-detail .checkbox.type02 input[type="checkbox"]:checked + label:before {background-size:auto 25px;}
	#pop-review-detail .btn-type02 {position:relative;}
	#pop-review-detail .btn-type02 .btn-delete {position:absolute;bottom:0;right:0;border-bottom-right-radius: 8px;background:#a5a5a5;color:#fff;z-index:-1;}
	#pop-review-detail .candy-next p {display:none;}
	#pop-review-detail .candy-next .checkbox {display:block;}
	#pop-review-detail .candy-next .btn-delete {z-index:0;}




















}






